@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~pretendard/dist/web/static/pretendard.css';

body {
  font-family: 'Pretendard', sans-serif;
  color: #191f28;
}

@media (min-width: 1280px) {
  .w-section {
    max-width: 64rem;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.vertical-divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 1px solid #d9dcde;
  height: 78px;
}
